@import "tailwindcss";

/* Font Family */

@theme {
    --font-quicksand: Quicksand;
    --font-inter: Inter;
    --color-primary: #299e60;
    --color-hover: #217448;
    --color-deepGreen: #2e7d32;
}

/* Layer Components */

@layer components {
    .container-padding {
        @apply px-3 py-8 md:px-6 md:py-12 lg:px-8 lg:py-14;
    }
    .heading{
        @apply font-quicksand font-bold text-2xl md:text-3xl lg:text-4xl
    }
    .btn-transition {
        @apply duration-500 ease-in-out transition-all;
    }
    .custom-dots {
        @apply flex justify-center mt-4 space-x-2;
    }
    .custom-dots li {
        @apply inline-block;
    }
    .custom-dots li button {
        @apply w-3 h-3 bg-gray-300 rounded-full transition-colors;
    }
}


/* Custom CSS */

.banner-height {
    height: calc(100vh - 64px);
}

.background-photo {
    background-image: url("/heroBanner.webp");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header-anim {
    animation: slidein 0.5s ease-in-out;
}

@keyframes slidein {
    0% {
        opacity: 0;
        transform: translateY(-100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* React Slick Custom Styles */
.slick-slide > div {
    margin: 0 16px;
}

.slick-prev::before,
.slick-next::before {
    display: none;
}

.custom-dots .slick-active .w-3 {
  background-color: #299e60;
  transition: background-color 0.3s ease-in-out;
}

